<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item nav-link">
                    <a class="btn" href="/">Home</a>
                </li>
                <li class="nav-item nav-link">
                    <a class="btn" href="/about.html">About us</a>
                </li>
                <li class="nav-item nav-link">
                    <a class="btn" href="/contact">Contact us</a>
                </li>
                <li class="nav-item nav-link">
                    <a class="btn" href="/menu.html">Our menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
</body>
</html>