<h1 class="text-center mb-3">{{title}}</h1>

<form action="/api/reserves" method="POST" class="mb-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="message">Your message</label>
        <input type="textarea" name="message" class="form-control">
    </div>
    <input type="submit" value="Add a booking" class="btn btn-primary">
</form>

<h4>Bookings</h4>
<ul class="list-group">
    {{#each reserves}}
        <li class="list-group-item">{{this.name}}: {{this.message}}</li>
    {{/each}}
</ul>